{% extends "base.html" %}

{% block title %}
SNS- Reset-Password
{% endblock %}

{% block navmenu %}
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
{% endblock %}





{% block content %}
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == "msg" %}
                <div class="alert alert-success" style="color: green;">
                    {{ message }}
                </div>
            {% elif category == "err" %}
                <div class="alert alert-danger" style="color: red;">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
</div>


<div style="text-align: center;">
    <h2>Reset Password</h2>
    <div>
        <form action="/reset-password/{{ token }}" method="POST">
            <div>
                <div>
                    <label for="password"> New password</label>
                    <input type="password" name="password" required>
                </div>
                <div>
                    <label for="conformpassword">Confirm password</label>
                    <input type="password" name="confirmpassword" required>
                </div>
                <div>
                    <button type="submit">Reset</button>
                
                </div>
                
            </div>
        </form>

    </div>
    

    </form>
</div>
{% endblock %}
