{% extends "base.html" %}

{% block title %}
SNS- Verify OTP
{% endblock %}

{% block navmenu %}
    <a href="/">Home</a>
    <a href="/login">Login</a>
{% endblock %}

{% block content %}


<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == "msg" %}
                <div class="alert alert-success" style="color: green;">
                    {{ message }}
                </div>
            {% elif category == "err" %}
                <div class="alert alert-danger" style="color: red;">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
</div>

<div style="text-align: center;">
    <h2>Verify OTP</h2>
    <div>
        <form action="{{ url_for('verifyOTP') }}" method="POST">
            <div>
                
                <div>
                    <label for="email">OTP</label>
                    <input type="number" name="otp" required>
                </div>
                
                
                <div>
                    <button type="submit">Verify</button>
                
                </div>
                <p>Do you don't have account?<a href="/register">Register</a></p>
            </div>
        </form>

    </div>
    

    </form>
</div>
{% endblock %}
